[submodule "lawfirm"]
	path = lawfirm
	url = https://github.com/reed23/lawfirm
[submodule "grok"]
	path = grok
	url = https://github.com/reed23/grok
[submodule "cinemafilms"]
	path = cinemafilms
	url = https://github.com/reed23/cinemafilms.git
[submodule "ArtistInc"]
	path = ArtistInc
	url = https://github.com/reed23/ArtistInc.git
