/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 4, ../scss/style.scss */
.clearfix {
  zoom: 1;
}
/* line 6, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 10, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/* line 22, ../scss/style.scss */
body {
  background: #aaa;
}

/* line 25, ../scss/style.scss */
.wrapper {
  background-color: white;
  max-width: 1000px;
  margin: 0 auto;
}

/***** SITE STYLES *************/
/**********************************/
/* line 34, ../scss/style.scss */
.groklogo {
  float: left;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}

/* line 40, ../scss/style.scss */
.word h1 {
  color: white;
}

/* line 44, ../scss/style.scss */
.register_grok {
  width: 50%;
  max-width: 300px;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  /* line 51, ../scss/style.scss */
  .logo {
    margin-left: 155px;
  }

  /* line 59, ../scss/style.scss */
  .schedule_text h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;
  }
  /* line 65, ../scss/style.scss */
  .schedule_text p {
    font-family: 'Raleway', sans-serif;
    line-height: 35px;
    color: white;
  }

  /* line 76, ../scss/style.scss */
  .schedule_text {
    width: 90%;
    margin-left: 30px;
    margin-right: 10px;
  }

  /* line 88, ../scss/style.scss */
  .mobile {
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 400px;
  }

  /* line 95, ../scss/style.scss */
  .word {
    font-family: 'Raleway', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
  }
  /* line 100, ../scss/style.scss */
  .word h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
  }
  /* line 107, ../scss/style.scss */
  .word p {
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
    color: white;
  }

  /* line 118, ../scss/style.scss */
  .container {
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
  }
  /* line 124, ../scss/style.scss */
  .container p {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
  }
  /* line 128, ../scss/style.scss */
  .container div {
    width: 100%;
    float: none;
  }

  /* line 138, ../scss/style.scss */
  .container img {
    width: 90%;
    display: block;
    height: 200px;
    margin-left: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* line 151, ../scss/style.scss */
  .mobile_schedule {
    display: block;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
  }
  /* line 157, ../scss/style.scss */
  .mobile_schedule li {
    list-style-type: none;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    color: white;
  }
  /* line 164, ../scss/style.scss */
  .mobile_schedule a {
    font-family: 'Raleway', sans-serif;
  }
  /* line 168, ../scss/style.scss */
  .mobile_schedule h1 {
    font-family: 'Raleway', sans-serif;
    color: #37bde8;
    margin-top: -10px;
  }

  /* line 178, ../scss/style.scss */
  .speak_hold {
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
  }

  /* line 186, ../scss/style.scss */
  .imgbox {
    display: none;
  }

  /* line 190, ../scss/style.scss */
  .word {
    font-family: 'Raleway', sans-serif;
  }
  /* line 193, ../scss/style.scss */
  .word h1 {
    font-family: 'Raleway', sans-serif;
    color: #37bde8;
  }
  /* line 198, ../scss/style.scss */
  .word p {
    font-family: 'Raleway', sans-serif;
    line-height: 45px;
    color: white;
  }

  /* line 205, ../scss/style.scss */
  .speaker1 {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* line 211, ../scss/style.scss */
  .speaker1 img {
    float: left;
    margin-left: 62px;
    margin-right: 10px;
    max-width: 200px;
  }
  /* line 217, ../scss/style.scss */
  .speaker1 p {
    font-family: 'Raleway', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
  }

  /* line 229, ../scss/style.scss */
  .container2 {
    width: 90%;
    margin-right: 10px;
    margin-left: 10px;
  }
  /* line 234, ../scss/style.scss */
  .container2 img {
    width: 100%;
    max-width: 400px;
  }
  /* line 240, ../scss/style.scss */
  .container2 p {
    font-family: 'Raleway', sans-serif;
  }
  /* line 244, ../scss/style.scss */
  .container2 div {
    width: 100%;
  }
  /* line 248, ../scss/style.scss */
  .container2 h1 {
    font-family: 'Raleway', sans-serif;
    color: #37bde8;
  }

  /* line 254, ../scss/style.scss */
  .textdiv {
    width: 100%;
    display: block;
    background-color: #193353;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  /* line 267, ../scss/style.scss */
  article {
    background-color: darkred;
    padding-top: 30px;
    padding-bottom: 30px;
    display: none;
  }
  /* line 272, ../scss/style.scss */
  article h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 24px;
  }
  /* line 281, ../scss/style.scss */
  article p {
    line-height: 30px;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 18px;
  }

  /* line 289, ../scss/style.scss */
  .speak_box {
    background-color: #2ef5b8;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  /* line 296, ../scss/style.scss */
  .speak_box h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    margin-left: 53px;
    width: 200px;
    background-color: white;
    margin-top: 0px;
    text-align: center;
    max-width: 200px;
  }

  /* line 313, ../scss/style.scss */
  .mainspeak {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    background-color: white;
    text-align: center;
  }

  /* line 321, ../scss/style.scss */
  .sponsor img {
    width: 25%;
    max-width: 100px;
    margin-right: 10px;
    margin-left: 5px;
  }

  /* line 328, ../scss/style.scss */
  footer {
    width: 100%;
    background-color: #37bde8;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  /* line 334, ../scss/style.scss */
  footer img {
    width: 90%;
    max-width: 150px;
    margin-right: 0px;
    margin-left: 80px;
    margin-bottom: 20px;
  }
}
/* line 354, ../scss/style.scss */
.speak_box {
  background-color: #2ef5b8;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* line 361, ../scss/style.scss */
.facts1 {
  width: 40%;
  float: left;
}
/* line 365, ../scss/style.scss */
.facts1 img {
  width: 90%;
  max-width: 300px;
  float: left;
  margin-left: 0px;
  margin-top: 50px;
}

/* line 374, ../scss/style.scss */
.facts2 {
  width: 39%;
  float: right;
  margin-right: 45px;
}

/* line 380, ../scss/style.scss */
article {
  background-color: darkred;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 384, ../scss/style.scss */
article h1 {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 24px;
}
/* line 393, ../scss/style.scss */
article p {
  line-height: 30px;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 18px;
}

/* line 406, ../scss/style.scss */
.container h1 {
  margin-top: 0px;
}

/* line 410, ../scss/style.scss */
header {
  background-color: #37bde8;
  padding: 20px;
}
/* line 414, ../scss/style.scss */
header img {
  width: 20%;
  max-width: 100px;
  margin: 0 auto;
}
/* line 419, ../scss/style.scss */
header ul {
  color: white;
  display: block;
  padding: 0;
  margin: 25px 0 0 0;
  list-style: none;
}
/* line 426, ../scss/style.scss */
header li {
  display: block;
  color: white;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-bottom: 5px;
}
/* line 433, ../scss/style.scss */
header a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 1.4em;
  font-family: 'Raleway', sans-serif;
  padding: 12px 20px;
  text-align: center;
}

/* line 444, ../scss/style.scss */
#registration_form {
  padding: 20px;
}
/* line 448, ../scss/style.scss */
#registration_form fieldset {
  margin-top: 0px;
  margin-bottom: 50px;
  background-color: #9bdef3;
  padding-bottom: 0px;
  border: none;
  border-radius: 15px;
}
/* line 457, ../scss/style.scss */
#registration_form input {
  display: block;
  width: 96%;
  padding: 10px 2%;
  border: none;
  border-radius: 5px;
}
/* line 465, ../scss/style.scss */
#registration_form label {
  font-family: 'Raleway', sans-serif;
  display: block;
  font-size: 1.2em;
  line-height: 1.8;
  display: block;
}

/* line 484, ../scss/style.scss */
.grok {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #37bde8;
}

/* line 492, ../scss/style.scss */
.whitediv {
  background-color: white;
  width: 94%;
  padding-top: 10px;
  margin: 0 auto;
}

/* line 500, ../scss/style.scss */
.sponsor h2 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 50px;
}

/* line 510, ../scss/style.scss */
.extra {
  display: none;
}

/* line 517, ../scss/style.scss */
.textdiv h3 {
  display: none;
}
/* line 522, ../scss/style.scss */
.textdiv h2 {
  display: none;
}

/* line 528, ../scss/style.scss */
.maindiv {
  display: block;
  width: 90%;
}
/* line 532, ../scss/style.scss */
.maindiv p {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  width: 100%;
}

/* line 541, ../scss/style.scss */
.register {
  background-color: #ffab56;
  color: white;
}

/* line 552, ../scss/style.scss */
.word {
  font-family: 'Raleway', sans-serif;
}
/* line 555, ../scss/style.scss */
.word h1 {
  font-family: 'Raleway', sans-serif;
  color: white;
}
/* line 562, ../scss/style.scss */
.word p {
  font-family: 'Raleway', sans-serif;
  line-height: 25px;
  color: white;
}

/* line 571, ../scss/style.scss */
.whitediv h1 {
  font-family: 'Raleway', sans-serif;
  color: white;
}

/* line 579, ../scss/style.scss */
.imgdiv {
  display: none;
  background-image: url(../img/grockclassroom.jpg);
  width: 40%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0px;
  padding-top: 300px;
  padding-bottom: 25px;
  float: right;
  margin-right: 75px;
}

/* line 593, ../scss/style.scss */
.schedule_text h1 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: white;
}
/* line 599, ../scss/style.scss */
.schedule_text p {
  font-family: 'Raleway', sans-serif;
  line-height: 25px;
  color: white;
}

/* line 607, ../scss/style.scss */
.sched {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #37bde8;
}

/* line 618, ../scss/style.scss */
.button1 {
  display: inline-block;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #37bde8;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 30%;
  text-align: center;
}

/* line 633, ../scss/style.scss */
.button1:hover {
  background-color: #ffab56;
  color: white;
}

/* line 638, ../scss/style.scss */
.button2 {
  display: inline-block;
  display: inline-block;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #fd7400;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  float: right;
  width: 30%;
  text-align: center;
}

/* line 655, ../scss/style.scss */
.button2:hover {
  background-color: #ffab56;
  color: white;
}

/* line 661, ../scss/style.scss */
.imgbox {
  background-image: url(../img/pictest3.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  width: 100%;
  padding-top: 300px;
  padding-bottom: 25px;
}

/* line 671, ../scss/style.scss */
.signup {
  background-color: #37bde8;
  width: 100%;
  margin-top: 25px;
  display: none;
}
/* line 677, ../scss/style.scss */
.signup p {
  float: left;
  margin-right: 50px;
}

/* line 683, ../scss/style.scss */
.sponsor {
  width: 100%;
  display: block;
  padding-bottom: 50px;
}
/* line 689, ../scss/style.scss */
.sponsor img {
  line-height: normal;
}

/* line 696, ../scss/style.scss */
.container h1 {
  font-size: 32px;
  color: #37bde8;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

/* line 703, ../scss/style.scss */
.signup p {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-left: 50px;
}

/* line 712, ../scss/style.scss */
.chimp {
  width: 25%;
}

/* line 718, ../scss/style.scss */
.bodywrap {
  width: 100%;
  background-image: url(../img/grokback.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 20px;
}

/* line 732, ../scss/style.scss */
.sched h1 {
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
}

@media screen and (min-width: 600px) {
  /* line 745, ../scss/style.scss */
  footer {
    width: 100%;
    background-color: #37bde8;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  /* line 751, ../scss/style.scss */
  footer img {
    width: 90%;
    max-width: 150px;
    margin-right: 0px;
    margin-left: 80px;
    margin-bottom: 20px;
  }

  /* line 771, ../scss/style.scss */
  .schedule_text h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;
  }
  /* line 777, ../scss/style.scss */
  .schedule_text p {
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
    color: white;
  }

  /* line 788, ../scss/style.scss */
  .mainspeak {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    background-color: white;
    text-align: center;
  }

  /* line 800, ../scss/style.scss */
  .sched h1 {
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
  }

  /* line 809, ../scss/style.scss */
  .mobile_schedule {
    display: block;
    width: 100%;
    margin-left: 25px;
    margin-top: -100px;
  }
  /* line 815, ../scss/style.scss */
  .mobile_schedule li {
    list-style-type: none;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    color: white;
  }
  /* line 822, ../scss/style.scss */
  .mobile_schedule a {
    font-family: 'Raleway', sans-serif;
  }
  /* line 826, ../scss/style.scss */
  .mobile_schedule h1 {
    font-family: 'Raleway', sans-serif;
    color: #37bde8;
  }

  /* line 836, ../scss/style.scss */
  .imgbox {
    background-image: url(../img/grokdblue.jpg);
    background-repeat: no-repeat;
    background-size: center center;
    margin: 0px;
    padding-top: 300px;
    padding-bottom: 25px;
  }

  /* line 849, ../scss/style.scss */
  .textimg h1 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    text-align: center;
  }

  /* line 860, ../scss/style.scss */
  header li {
    display: inline-block;
    color: white;
    border: none;
    border-radius: 0px;
    margin-bottom: 5px;
  }

  /* line 868, ../scss/style.scss */
  .signup p {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-left: 50px;
  }

  /* line 876, ../scss/style.scss */
  .whitediv {
    width: 60%;
    margin-top: 100px;
  }

  /* line 881, ../scss/style.scss */
  .reg {
    margin-top: 15px;
  }

  /* line 887, ../scss/style.scss */
  .register {
    display: inline-block;
  }

  /* line 892, ../scss/style.scss */
  .name {
    display: inline-block;
    width: 20%;
  }

  /* line 898, ../scss/style.scss */
  .textimg {
    margin-left: 100px;
    width: 40%;
    margin-top: -100px;
  }
  /* line 904, ../scss/style.scss */
  .textimg p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: white;
    font-style: italic;
  }

  /* line 912, ../scss/style.scss */
  .container {
    width: 100%;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /* line 919, ../scss/style.scss */
  .container img {
    width: 40%;
    float: left;
    max-width: 400px;
    margin-left: 20px;
  }
  /* line 925, ../scss/style.scss */
  .container p {
    line-height: 20px;
    font-family: 'Raleway', sans-serif;
  }

  /* line 933, ../scss/style.scss */
  .fact2 {
    width: 75%;
  }

  /* line 940, ../scss/style.scss */
  .container div {
    float: right;
    width: 50%;
  }

  /* line 945, ../scss/style.scss */
  .mobile {
    width: 40%;
    float: left;
    margin-left: 20px;
  }

  /* line 951, ../scss/style.scss */
  .maindiv p {
    width: 100%;
  }

  /* line 957, ../scss/style.scss */
  .schedule_text {
    float: left;
    width: 40%;
    margin-left: 20px;
  }

  /* line 964, ../scss/style.scss */
  .mobile_schedule {
    float: right;
    width: 48%;
    margin-right: 20px;
    margin-left: 0px;
  }
  /* line 970, ../scss/style.scss */
  .mobile_schedule li {
    list-style-type: none;
    margin-bottom: 10px;
  }

  /* line 977, ../scss/style.scss */
  .sponsor {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
  }
  /* line 983, ../scss/style.scss */
  .sponsor h2 {
    color: #37bde8;
    margin-top: 50px;
    margin-right: 10px;
    font-size: 45px;
  }
  /* line 991, ../scss/style.scss */
  .sponsor img {
    width: 18%;
    display: inline-block;
    margin-left: 80px;
  }

  /* line 999, ../scss/style.scss */
  .word {
    float: right;
    width: 48%;
  }
  /* line 1003, ../scss/style.scss */
  .word h1 {
    margin-top: -10px;
  }

  /* line 1008, ../scss/style.scss */
  .textdiv {
    display: block;
    background-color: #193353;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  /* line 1016, ../scss/style.scss */
  footer {
    display: inline-block;
  }
  /* line 1019, ../scss/style.scss */
  footer img {
    width: 100px;
    display: inline-block;
    max-width: 200px;
  }

  /* line 1026, ../scss/style.scss */
  .github {
    margin-top: 10px;
  }

  /* line 1029, ../scss/style.scss */
  .event {
    width: 100%;
    margin-left: 36px;
    color: #37bde8;
  }

  /* line 1034, ../scss/style.scss */
  .container h1 {
    font-size: 32px;
    color: #37bde8;
    font-family: 'Raleway', sans-serif;
    margin-top: -10px;
    margin-bottom: -10px;
    text-align: left;
  }

  /* line 1046, ../scss/style.scss */
  header {
    padding: 0px;
    position: fixed;
    background-color: #37bde8;
    opacity: 1.2;
    width: 100%;
    max-width: 1000px;
  }
  /* line 1056, ../scss/style.scss */
  header ul {
    float: right;
    margin: 0px 0 0 0;
  }

  /* line 1064, ../scss/style.scss */
  .date {
    text-align: center;
  }

  /* line 1068, ../scss/style.scss */
  .logo {
    width: 15%;
    max-width: 35px;
    float: left;
  }

  /* line 1073, ../scss/style.scss */
  article {
    background-color: darkred;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  /* line 1077, ../scss/style.scss */
  article h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
  }
  /* line 1085, ../scss/style.scss */
  article p {
    line-height: 20px;
    font-family: 'Raleway', sans-serif;
    color: white;
  }

  /* line 1095, ../scss/style.scss */
  .facts1 {
    width: 40%;
    float: left;
  }
  /* line 1099, ../scss/style.scss */
  .facts1 img {
    width: 90%;
    max-width: 300px;
    float: left;
    margin-left: 40px;
    margin-top: 50px;
  }

  /* line 1108, ../scss/style.scss */
  .facts2 {
    width: 48%;
    float: right;
    margin-right: 20px;
  }

  /* line 1115, ../scss/style.scss */
  .container2 {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /* line 1120, ../scss/style.scss */
  .container2 h1 {
    font-size: 32px;
    color: #37bde8;
    font-family: 'Raleway', sans-serif;
    margin-top: -10px;
    margin-bottom: -10px;
    text-align: left;
  }
  /* line 1131, ../scss/style.scss */
  .container2 img {
    width: 40%;
    max-width: 400px;
    float: left;
    margin-left: 20px;
  }
  /* line 1138, ../scss/style.scss */
  .container2 p {
    font-family: 'Raleway', sans-serif;
    float: right;
    margin-right: 10px;
  }
  /* line 1144, ../scss/style.scss */
  .container2 div {
    float: right;
    width: 50%;
  }

  /* line 1150, ../scss/style.scss */
  .word {
    font-family: 'Raleway', sans-serif;
    width: 50%;
  }
  /* line 1154, ../scss/style.scss */
  .word h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
  }
  /* line 1161, ../scss/style.scss */
  .word p {
    font-family: 'Raleway', sans-serif;
    line-height: 20px;
    color: white;
    margin-right: 20px;
  }

  /* line 1173, ../scss/style.scss */
  .speaker1 {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* line 1179, ../scss/style.scss */
  .speaker1 img {
    float: left;
    max-width: 400px;
  }
  /* line 1183, ../scss/style.scss */
  .speaker1 p {
    font-family: 'Raleway', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
  }

  /* line 1192, ../scss/style.scss */
  .speaker1 {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* line 1198, ../scss/style.scss */
  .speaker1 img {
    float: left;
    width: 45%;
    max-width: 400px;
    margin-left: 20px;
    margin-right: 10px;
  }
  /* line 1210, ../scss/style.scss */
  .speaker1 h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }

  /* line 1216, ../scss/style.scss */
  .speak_box h1 {
    text-align: left;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    width: 70%;
    margin-left: 100px;
    margin-top: 0px;
    font-size: 24px;
  }
}
@media screen and (min-width: 800px) {
  /* line 1232, ../scss/style.scss */
  .speaker1 {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* line 1238, ../scss/style.scss */
  .speaker1 img {
    float: left;
    width: 45%;
    max-width: 400px;
    margin-left: 20px;
    margin-right: 10px;
  }
  /* line 1250, ../scss/style.scss */
  .speaker1 h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-top: -10px;
  }

  /* line 1263, ../scss/style.scss */
  .mobile {
    width: 40%;
    float: left;
    margin-left: 20px;
  }

  /* line 1273, ../scss/style.scss */
  .word {
    font-family: 'Raleway', sans-serif;
  }
  /* line 1276, ../scss/style.scss */
  .word h1 {
    font-family: 'Raleway', sans-serif;
    color: #37bde8;
  }
  /* line 1283, ../scss/style.scss */
  .word p {
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
    color: white;
  }

  /* line 1293, ../scss/style.scss */
  .facts1 {
    width: 40%;
    float: left;
  }
  /* line 1297, ../scss/style.scss */
  .facts1 img {
    width: 100%;
    max-width: 300px;
    float: left;
    margin-left: 40px;
    margin-top: 50px;
  }

  /* line 1306, ../scss/style.scss */
  .schedule_text {
    float: left;
    width: 40%;
    margin-left: 20px;
  }

  /* line 1313, ../scss/style.scss */
  .mobile_schedule {
    float: right;
    width: 48%;
    margin-right: 62px;
    margin-left: 0px;
  }
  /* line 1319, ../scss/style.scss */
  .mobile_schedule li {
    list-style-type: none;
    margin-bottom: 10px;
    color: white;
  }
  /* line 1325, ../scss/style.scss */
  .mobile_schedule a {
    color: white;
  }

  /* line 1330, ../scss/style.scss */
  .container2 {
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /* line 1337, ../scss/style.scss */
  .container2 img {
    width: 45%;
    max-width: 400px;
    float: left;
  }
  /* line 1343, ../scss/style.scss */
  .container2 p {
    font-family: 'Raleway', sans-serif;
  }
  /* line 1348, ../scss/style.scss */
  .container2 div {
    float: right;
    width: 45%;
  }

  /* line 1357, ../scss/style.scss */
  .schedule_text {
    float: left;
    width: 40%;
    margin-left: 20px;
  }

  /* line 1365, ../scss/style.scss */
  .speak_hold {
    float: right;
    width: 45%;
  }

  /* line 1376, ../scss/style.scss */
  .word h1 {
    color: white;
  }

  /* line 1380, ../scss/style.scss */
  .mobile_schedule {
    float: right;
    display: block;
    width: 50%;
    margin-left: 50px;
    margin-top: -217px;
  }
  /* line 1387, ../scss/style.scss */
  .mobile_schedule li {
    list-style-type: none;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    color: white;
  }
  /* line 1394, ../scss/style.scss */
  .mobile_schedule a {
    font-family: 'Raleway', sans-serif;
  }
  /* line 1398, ../scss/style.scss */
  .mobile_schedule h1 {
    font-family: 'Raleway', sans-serif;
    color: #37bde8;
  }

  /* line 1405, ../scss/style.scss */
  .schedule_text {
    margin-left: 50px;
  }
  /* line 1408, ../scss/style.scss */
  .schedule_text h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;
  }
  /* line 1414, ../scss/style.scss */
  .schedule_text p {
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
    color: white;
  }

  /* line 1424, ../scss/style.scss */
  .footer img {
    margin-left: 50px;
  }
}
